@media screen and (max-width: 768px) {
    header h1 {
        width: 1140px;
    }

    .steps {
        width: 1140px;
    }
}

@media screen and (max-width: 576px) {
    .lessons .row {
        display: block;
    }

    .lessons .col {
        width: 100%;
        margin-bottom: 50px;
    }

    .steps .row {
        display: block;
    }

    .steps .col {
        width: 100%;
        margin-bottom: 50px;
    }

    .why-us .row {
        flex-direction: column;
    }

    .why-us .col-left {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .why-us .col-right {
        width: 100%;
    }

    .why-us li {
        text-align: left;
        padding: 0 400px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .card {
        padding: 0 420px;
    }


}